.admin-container {
    width: 100%;
    height: calc(100vh - 70px);
    border-top: 1px solid rgba(128, 128, 128, 0.8);
    display: flex;
    /* position: fixed;
    top: 0; */
    overflow: hidden;
    align-items: center;
}


/* left container */

.ad-left-container {
    flex: 1;
    position: sticky;
    left: 0;
    max-width: 218px;
    overflow: hidden;
    min-width: 218px;
    height: 100%;
    /* border: 1px solid red; */
}

.adl-drawer {
    width: 98%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid blue; */
}

.adl-icon-text-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 25px 3px;
    /* margin: 5px 0; */
    cursor: pointer;
    color: rgba(128, 128, 128, 0.8);
    background-color: #fff;
    border-bottom: 1px solid rgba(128, 128, 128, 0.6);
    font-family: var(--headFont);
    /* border: 1px solid turquoise; */
}

.adl-icon-text-container:hover {
    background-color: var(--gClr);
    color: #fff;
}

.adl-icon {
    height: 40px;
    width: 40px;
    padding: 5px 8px;
    color: inherit;
    /* border: 1px solid; */
    display: grid;
    place-items: center;
    margin-right: 5px;
}

.adl-text {
    margin-left: 8px;
    color: inherit;
    letter-spacing: 2px;
}


/* right container */

.ad-right-container {
    width: 100%;
    height: 100%;
    border-left: 1px solid rgba(128, 128, 128, 0.6);
    flex: 4;
    display: grid;
    overflow: scroll;
    place-items: center;
}

.adr-ap-container {
    width: 100%;
    height: auto;
    margin: 20px auto;
    display: grid;
    place-items: center;
}

.adr-add-details {
    width: 500px;
    /* border: 1px solid red; */
    height: auto;
    display: grid;
    place-items: center;
    margin: 20px auto;
}

.admin-btn {
    outline: none;
    display: grid;
    place-items: center;
    border: none;
}

.admin-btn-active {
    background-color: #fff;
    border: 1px solid var(--gClr);

}

/* add image */

.adr-image-add {
    width: 90%;
    height: auto;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
    /* border: 1px solid; */
}

.container {
    width: 280px;
    /* border: 1px solid; */
    height: 280px;
    margin: 0 auto;
    font-size: 20px;
    font-family: var(--headFont);
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    border-radius: 5px;
    cursor: pointer;
    border: 2px dashed rgba(128, 128, 128, 0.8);
    place-items: center;
}

.image {
    position: absolute;
    place-items: center;
    display: grid;
    width: 100%;
    height: 100%;
}

.divimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-icon {
    width: 100%;
    height: 100%;
    color: rgba(128, 128, 128, 0.8);
}

.divtext {
    color: rgba(128, 128, 128, 0.8);
}

.order-list-table {
    width: 100%;
    padding: 5px 8px;
    overflow: scroll;

    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: block;
}


/* table button */
.table-btn {
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: flex;
    padding: 0 10px;
    justify-content: end;
    align-items: center;
}

.delete, .verify {
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin: 0 5px;
    letter-spacing: 1px;
    background-color: #fff;
    font-family: var(--headFont);
    text-transform: capitalize;
    font-size: 1.04em;
    transition: all 0.2s ease-in-out;
}

.delete {
    color: red;
    border: 1px solid red;
}


.delete:hover, .delete:active{
    color: #fff;
    background-color:  red;
}

.verify {
    color: var(--gClr);
    border: 1px solid var(--gClr);

}


.verify:hover, .verify:active{
    color: #fff;
    background-color: var(--gClr);
}

@media screen and (max-width: 770px) {
    .ad-left-container {
        max-width: 50px;
        min-width: 50px;
    }
}

@media screen and (max-width: 610px) {
    .adr-add-details {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .container {
        width: 100%;
    }

    .admin-btn {
        font-size: 1em;
    }
}